include header1
main.ps-main
  .ps-container(style='margin-top:3%')
    .row
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        .ps-section__header.mb-50
          h2.ps-section__title(data-mask='Contact') - Get in touch
          |             
          form.ps-contact__form(action='do_action' method='post')
            .row
              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .form-group
                  label
                    | Name 
                    sub *
                  |                     
                  input.form-control(type='text' placeholder='')
              |                 
              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .form-group
                  label
                    | Email 
                    sub *
                  |                     
                  input.form-control(type='email' placeholder='')
              |                 
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .form-group.mb-25
                  label
                    | Your Message 
                    sub *
                  |                     
                  textarea.form-control(rows='6')
                |                   
                .form-group
                  button.ps-btn
                    | Send Message
                    i.ps-icon-next
      |         
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        .ps-section__content
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              .ps-contact__block(data-mh='contact-block')
                header
                  h3
                    | Ireland 
                    span  Dublin
                |                   
                footer
                  p
                    i.fa.fa-map-marker
                    |  19C Trolley Square Wilmington, DE 19806
                  |                     
                  p
                    i.fa.fa-envelope-o
                    a(href='mailto@supportShoes@shoes.net') supportShoes@shoes.net
                  |                     
                  p
                    i.fa.fa-phone
                    |  ( +84 ) 9892 2324 - 9401 123 003
  |     
include footer
include scripts