footer
    #footer.footer
        .container
            .row
                .col-lg-6.col-md-6.col-sm-6.col-xs-6
                    img.logo_image(src='images/goldmine.png' style='margin-top:5%; width:30%' alt='') 
                |                 
                .col-lg-3.col-sm-2.col-xs-3
                    h3  Contact 
                    |                     
                    ul
                        li
                            a.email(href='#')  Contact@goldmine.ie
                        |                         
                        br
                        |                         
                        li
                            p  address line one 
                        |                         
                        li
                            p  address line two 
                |                 
                .col-lg-3.col-sm-2.col-xs-3
                    ul
                        li
                            h5
                                a(href='#' style='margin-top: 5em')  ABOUT US
                                |  
                                h5
                        |                         
                        li
                            h5
                                a(href='/privacy-policy')  Privacy Policy
                                |  
                                h5
                        |                         
                        li
                            h5
                                a(href='/terms-conditions')  Terms And Coniditions
                                |  
                                h5
                        |                         
                        li
                            h5
                                a(href='#')  LOOKING BACK 
                                |  
                                h5
                // /.row
                // /.container
                // /.footer
                .footer-bottom
                    .container
                        p.pull-left.copyright  Copyright &copy; Goldmine.ie 2015. All right reserved. 
                // /.footer-bottom
