include header2
main.ps-main
  .container(style='margin-top:70px;')
    table.table
      thead.thead-dark
        tr
          th(scope='col') Product Name
          th(scope='col') User Name
          th(scope='col') Message
          th(scope='col') Action
      tbody
        tr
          td Buggati T-Sheyron
          td haseebbhatti742 
          td Nice add
          td
            button.btn.btn-primary.btn-lg Reply
            button.btn.btn-danger.btn-lg Delete                        
include scripts
