include header1
main.ps-main
  .ps-banner
    #home-banner.rev_slider.fullscreenbanner
      ul
        li.ps-banner(data-index='rs-2972' data-transition='random' data-slotamount='default' data-hideafterloop='0' data-hideslideonmobile='off' data-rotate='0')
          img.rev-slidebg(src='images/slider/2.jpg' alt='' data-bgposition='center center' data-bgfit='cover' data-bgrepeat='no-repeat' data-bgparallax='5' data-no-retina='')
          |               
          #layer-1.tp-caption.ps-banner__header(data-x='left' data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-150','-120','-150','-170']" data-width="['none','none','none','400']" data-type='text' data-responsive_offset='on' data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]')
            p(style='color:black')
              | Buy & Sell Everything
          |               
          #layer21.tp-caption.ps-banner__title(data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','-40','-50','-70']" data-type='text' data-responsive_offset='on' data-textalign="['center','center','center','center']" data-frames='[{"delay":1200,"speed":1500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]')
            p.text-uppercase(style='color:black') Goldmine
          |               
          #layer211.tp-caption.ps-banner__description(data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['30','50','50','50']" data-type='text' data-responsive_offset='on' data-textalign="['center','center','center','center']" data-frames='[{"delay":1200,"speed":1500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]')
            p(style='color:black')
              | "Goldmine" is a registered Business name.
              br
              |  We have been trading since 2015
          a#layer31.tp-caption.ps-btn(href='/login-form' data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['120','140','200','200']" data-type='text' data-responsive_offset='on' data-textalign="['center','center','center','center']" data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]')
            | Publish Post Now
            i.ps-icon-next
        |             
        li.ps-banner.ps-banner--white(data-index='rs-100' data-transition='random' data-slotamount='default' data-hideafterloop='0' data-hideslideonmobile='off' data-rotate='0')
          img.rev-slidebg(src='images/slider/3.jpg' alt='' data-bgposition='center center' data-bgfit='cover' data-bgrepeat='no-repeat' data-bgparallax='5' data-no-retina='')
          |               
          #layer20.tp-caption.ps-banner__header(data-x='left' data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-150','-120','-150','-170']" data-width="['none','none','none','400']" data-type='text' data-responsive_offset='on' data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]')
            p(style='color:white')
              | Buy & Sell Everything
          |               
          #layer339.tp-caption.ps-banner__title(data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','-40','-50','-70']" data-type='text' data-responsive_offset='on' data-textalign="['center','center','center','center']" data-frames='[{"delay":1200,"speed":1500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]')
            p.text-uppercase(style='color:white') Goldmine
          |               
          #layer2-14.tp-caption.ps-banner__description(data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['30','50','50','50']" data-type='text' data-responsive_offset='on' data-textalign="['center','center','center','center']" data-frames='[{"delay":1200,"speed":1500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]')
            p(style='color:white')
              | "Goldmine" is a registered Business name.
              br
              |  We have been trading since 2015
          a#layer364.tp-caption.ps-btn(href='/login-form' data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['120','140','200','200']" data-type='text' data-responsive_offset='on' data-textalign="['center','center','center','center']" data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]')
            | Publish Post Now
            i.ps-icon-next
  |       
  .ps-section--features-product.ps-section.masonry-root.pt-100.pb-100
    .ps-container
      .ps-section__header.mb-50
        h3.ps-section__title(data-mask='features') - Features Products
      |           
      .ps-section__content.pb-50
        .masonry-wrapper(data-col-md='4' data-col-sm='2' data-col-xs='1' data-gap='30' data-radio='100%')
          .ps-masonry
            .grid-sizer
            |                 
            .grid-item.kids
              .grid-item__content-wrapper
                .ps-shoe.mb-30
                  .ps-shoe__thumbnail
                    a.ps-shoe__favorite(href='#')
                      i.ps-icon-heart
                    img(src='images/adds/1.jpg' alt='')
                    a.ps-shoe__overlay(href='/product-detail1')
                  |                       
                  .ps-shoe__content
                    .ps-shoe__variants
                      .ps-shoe__variant.normal
                        img(src='images/adds/2.jpg' alt='')
                        img(src='images/adds/3.jpg' alt='')
                        img(src='images/adds/4.jpg' alt='')
                        img(src='images/adds/5.jpg' alt='')
                      |                                                   
                    .ps-shoe__detail
                      a.ps-shoe__name(href='#') Nestle Water Bottle
                      |                    
                      span.ps-shoe__price &pound; 120
            |                 
            .grid-item.kids
              .grid-item__content-wrapper
                .ps-shoe.mb-30
                  .ps-shoe__thumbnail
                    a.ps-shoe__favorite(href='#')
                      i.ps-icon-heart
                    img(src='images/adds/2.jpg' alt='')
                    a.ps-shoe__overlay(href='/product-detail1')
                  |                       
                  .ps-shoe__content
                    .ps-shoe__variants
                      .ps-shoe__variant.normal
                        img(src='images/adds/2.jpg' alt='')
                        img(src='images/adds/3.jpg' alt='')
                        img(src='images/adds/4.jpg' alt='')
                        img(src='images/adds/5.jpg' alt='')
                      |                                                   
                    .ps-shoe__detail
                      a.ps-shoe__name(href='#') Nestle Water Bottle
                      |                    
                      span.ps-shoe__price &pound; 120
            |                 
            .grid-item.kids
              .grid-item__content-wrapper
                .ps-shoe.mb-30
                  .ps-shoe__thumbnail
                    a.ps-shoe__favorite(href='#')
                      i.ps-icon-heart
                    img(src='images/adds/3.jpg' alt='')
                    a.ps-shoe__overlay(href='/product-detail1')
                  |                       
                  .ps-shoe__content
                    .ps-shoe__variants
                      .ps-shoe__variant.normal
                        img(src='images/adds/2.jpg' alt='')
                        img(src='images/adds/3.jpg' alt='')
                        img(src='images/adds/4.jpg' alt='')
                        img(src='images/adds/5.jpg' alt='')
                      |                                                   
                    .ps-shoe__detail
                      a.ps-shoe__name(href='#') Nestle Water Bottle
                      |                    
                      span.ps-shoe__price &pound; 120
            |                 
            .grid-item.kids
              .grid-item__content-wrapper
                .ps-shoe.mb-30
                  .ps-shoe__thumbnail
                    a.ps-shoe__favorite(href='#')
                      i.ps-icon-heart
                    img(src='images/adds/4.jpg' alt='')
                    a.ps-shoe__overlay(href='/product-detail1')
                  |                       
                  .ps-shoe__content
                    .ps-shoe__variants
                      .ps-shoe__variant.normal
                        img(src='images/adds/2.jpg' alt='')
                        img(src='images/adds/3.jpg' alt='')
                        img(src='images/adds/4.jpg' alt='')
                        img(src='images/adds/5.jpg' alt='')
                      |                                                   
                    .ps-shoe__detail
                      a.ps-shoe__name(href='#') Nestle Water Bottle
                      |                    
                      span.ps-shoe__price &pound; 120
            |                 
            .grid-item.kids
              .grid-item__content-wrapper
                .ps-shoe.mb-30
                  .ps-shoe__thumbnail
                    a.ps-shoe__favorite(href='#')
                      i.ps-icon-heart
                    img(src='images/adds/5.jpg' alt='')
                    a.ps-shoe__overlay(href='/product-detail1')
                  |                       
                  .ps-shoe__content
                    .ps-shoe__variants
                      .ps-shoe__variant.normal
                        img(src='images/adds/2.jpg' alt='')
                        img(src='images/adds/3.jpg' alt='')
                        img(src='images/adds/4.jpg' alt='')
                        img(src='images/adds/5.jpg' alt='')
                      |                                                   
                    .ps-shoe__detail
                      a.ps-shoe__name(href='#') Nestle Water Bottle
                      |                    
                      span.ps-shoe__price &pound; 120
            |                 
            .grid-item.kids
              .grid-item__content-wrapper
                .ps-shoe.mb-30
                  .ps-shoe__thumbnail
                    a.ps-shoe__favorite(href='#')
                      i.ps-icon-heart
                    img(src='images/adds/6.jpg' alt='')
                    a.ps-shoe__overlay(href='/product-detail1')
                  |                       
                  .ps-shoe__content
                    .ps-shoe__variants
                      .ps-shoe__variant.normal
                        img(src='images/adds/2.jpg' alt='')
                        img(src='images/adds/3.jpg' alt='')
                        img(src='images/adds/4.jpg' alt='')
                        img(src='images/adds/5.jpg' alt='')
                      |                                                   
                    .ps-shoe__detail
                      a.ps-shoe__name(href='#') Nestle Water Bottle
                      |                    
                      span.ps-shoe__price &pound; 120
            |                 
            .grid-item.kids
              .grid-item__content-wrapper
                .ps-shoe.mb-30
                  .ps-shoe__thumbnail
                    a.ps-shoe__favorite(href='#')
                      i.ps-icon-heart
                    img(src='images/adds/7.jpg' alt='')
                    a.ps-shoe__overlay(href='/product-detail1')
                  |                       
                  .ps-shoe__content
                    .ps-shoe__variants
                      .ps-shoe__variant.normal
                        img(src='images/adds/2.jpg' alt='')
                        img(src='images/adds/3.jpg' alt='')
                        img(src='images/adds/4.jpg' alt='')
                        img(src='images/adds/5.jpg' alt='')
                      |                                                   
                    .ps-shoe__detail
                      a.ps-shoe__name(href='#') Nestle Water Bottle
                      |                    
                      span.ps-shoe__price &pound; 120
            |                 
            .grid-item.kids
              .grid-item__content-wrapper
                .ps-shoe.mb-30
                  .ps-shoe__thumbnail
                    a.ps-shoe__favorite(href='#')
                      i.ps-icon-heart
                    img(src='images/adds/8.jpg' alt='')
                    a.ps-shoe__overlay(href='/product-detail1')
                  |                       
                  .ps-shoe__content
                    .ps-shoe__variants
                      .ps-shoe__variant.normal
                        img(src='images/adds/2.jpg' alt='')
                        img(src='images/adds/3.jpg' alt='')
                        img(src='images/adds/4.jpg' alt='')
                        img(src='images/adds/5.jpg' alt='')
                      |                                                   
                    .ps-shoe__detail
                      a.ps-shoe__name(href='#') Nestle Water Bottle
                      |                    
                      span.ps-shoe__price &pound; 120
            |                 

  |       
include footer
  // JS Library
  script(type='text/javascript' src='plugins/jquery/dist/jquery.min.js')
  script(type='text/javascript' src='plugins/bootstrap/dist/js/bootstrap.min.js')
  script(type='text/javascript' src='plugins/jquery-bar-rating/dist/jquery.barrating.min.js')
  script(type='text/javascript' src='plugins/owl-carousel/owl.carousel.min.js')
  script(type='text/javascript' src='plugins/gmap3.min.js')
  script(type='text/javascript' src='plugins/imagesloaded.pkgd.js')
  script(type='text/javascript' src='plugins/isotope.pkgd.min.js')
  script(type='text/javascript' src='plugins/bootstrap-select/dist/js/bootstrap-select.min.js')
  script(type='text/javascript' src='plugins/jquery.matchHeight-min.js')
  script(type='text/javascript' src='plugins/slick/slick/slick.min.js')
  script(type='text/javascript' src='plugins/elevatezoom/jquery.elevatezoom.js')
  script(type='text/javascript' src='plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js')
  script(type='text/javascript' src='plugins/jquery-ui/jquery-ui.min.js')
  script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAx39JFH5nhxze1ZydH-Kl8xXM3OK4fvcg&region=GB')
  script(type='text/javascript' src='plugins/revolution/js/jquery.themepunch.tools.min.js')
  script(type='text/javascript' src='plugins/revolution/js/jquery.themepunch.revolution.min.js')
  script(type='text/javascript' src='plugins/revolution/js/extensions/revolution.extension.video.min.js')
  script(type='text/javascript' src='plugins/revolution/js/extensions/revolution.extension.slideanims.min.js')
  script(type='text/javascript' src='plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js')
  script(type='text/javascript' src='plugins/revolution/js/extensions/revolution.extension.navigation.min.js')
  script(type='text/javascript' src='plugins/revolution/js/extensions/revolution.extension.parallax.min.js')
  script(type='text/javascript' src='plugins/revolution/js/extensions/revolution.extension.actions.min.js')
  script(type='text/javascript' src='plugins/revolution/js/extensions/revolution.extension.kenburn.min.js')
  script(type='text/javascript' src='plugins/revolution/js/extensions/revolution.extension.migration.min.js')
  // Custom scripts
  script(type='text/javascript' src='js/main.js')
  script(type='text/javascript' src='js/privacy-policy-alert.js')