include header3
main.ps-main(style='margin-top: 2%;')
  .container(style='width: 70%;')
    form#puhlish_form.form(action='/publish/add-product' method='POST' enctype='multipart/form-data')
      fieldset
        legend
          center
            h2
              b Enter your post details
        br
        |                     
        .row
          .col-lg-4
            label.form-group Product Title
            |                             
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-eye-open
              |                                 
              input.form-control(name='product_title' placeholder='Enter Product Title' required='')
          |                         
          .col-lg-4
            label.form-group Category 1
            |                             
            .selectContainer
              .input-group
                span.input-group-addon(style='background-color:maroon')
                  i.glyphicon.glyphicon-pushpin
                |                                     
                select#cat1.form-control.selectpicker(name='cat1' onchange='catFunction()' style='height: 35px;' required='')
                  option  Select Category 1 
          |                         
          .col-md-4
            label.form-group Category 2
            |                             
            .selectContainer
              .input-group
                span.input-group-addon(style='background-color:maroon')
                  i.glyphicon.glyphicon-pushpin
                |                                     
                select#cat2.form-control.selectpicker(name='cat2' onchange='cat2Function()' style='height: 35px;' required='')
                  option  Select Category 2 
        br
        br
        #carDiv.row(hidden='true')
          .col-lg-3
            label.form-group Transmissionm
            |                             
            .selectContainer
              .input-group
                span.input-group-addon(style='background-color:orange;padding-right:12%')
                  i.glyphicon.glyphicon-flash
                |                                     
                select#cat1.form-control.selectpicker(name='cat1' style='height: 35px;' required='')
                  option  Manual
                  option  Automatic
          |                         
          .col-lg-3
            label.form-group Odometer
            |                             
            .selectContainer
              .input-group
                span.input-group-addon(style='background-color:black;padding-right:12%')
                  i.glyphicon.glyphicon-dashboard
                |                                     
                select#cat1.form-control.selectpicker(name='cat1' style='height: 35px;' required='')
                  option  10,000 or less
                  option  20,000 or less
                  option  30,000 or less
                  option  40,000 or less
                  option  50,000 or less
                  option  60,000 or less
                  option  70,000 or less
          |                         
          .col-md-3
            label.form-group Body Type
            |                             
            .selectContainer
              .input-group
                span.input-group-addon(style='background-color:gray;padding-right:12%')
                  i.glyphicon.glyphicon-inbox
                |                                     
                select#cat2.form-control.selectpicker(name='cat2' style='height: 35px;' required='')
                  option  Coupe (2 Door)
                  option  Hath Back
                  option  Limousine
                  option  Minivan / Van
                  option  SUP
                  option  Sedan
                  option  Wegan
                  option  Other
          |                         
          .col-md-3
            label.form-group Oil Type
            |                             
            .selectContainer
              .input-group
                span.input-group-addon(style='background-color:skyblue;padding-right:12%')
                  i.glyphicon.glyphicon-fire
                |                                     
                select#cat2.form-control.selectpicker(name='cat2' style='height: 35px;' required='')
                  option  Diesel
                  option  Petrol
            br
            br
        |                     
        .row
          .col-lg-4
            label.form-group Product Image (Max 6)
            |                             
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-camera
              |                                 
              input#productimage.form-control(type='file' name='productimage' accept='image/*' multiple='' required='')
          |                         
          .col-lg-4
            label#price_typeLabel.form-group Price Type
            |                             
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-euro
              |                                 
              select#price_type.form-control.selectpicker(name='price_type' onchange='priceType()' style='height: 35px;' required='')
                option#amount(value='amount')  Amount 
                |                                     
                option#free(value='free')  Free 
                |                                     
                option#swap(value='swap')  Swap/Trade 
          |                         
          .col-lg-4
            label.form-group Product Price
            |                             
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-euro
              |                                 
              input#prod_price.form-control(name='prod_price' placeholder='Enter Product Price' required='')
        br
        br
        |                     
        .row
          .col-lg-4
            label.form-group Shipping
            |                             
            .input-group
              input#collection(type='checkbox' name='collection' value='1' style='margin-left: 4%;')
              |                                 Collection
              |                                 
              input#FreePostage(type='checkbox' name='FreePostage' value='2' style='margin-left: 4%;')
              |  Free
              |                                 Postage
              |                                 
              input#postage(type='checkbox' name='DeliveryCharge' value='3' style='margin-left: 4%;')
              |  Postage
          |                         
          .col-lg-4
            label.form-group Collection Price
            |                             
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-euro
              |                                 
              input#collection_price.form-control.selectpicker(name='product_title' placeholder='Enter Product Title' style='height: 35px;' disabled='true' required='')
          |                         
          .col-lg-4
            label.form-group Product Quantity
            |                             
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-shopping-cart
              |                                 
              input#prod_quantity.form-control(type='number' name='product_title' placeholder='Enter Product Title' required='')
        br
        br
        |                     
        .row
          .col-lg-4
            label.form-group Contact Info
            |                             
            .input-group
              input(type='checkbox' name='collection' value='1' style='margin-left: 4%;')
              |  Show
              |                                 Mobile number
              |                                 
              input(type='checkbox' name='FreePostage' value='2' style='margin-left: 4%;')
              |  Comment
              |                                 
              input#checkbox(type='checkbox' name='DeliveryCharge' value='3' style='margin-left: 4%;')
              |  Message
          |                         
          .col-lg-4
            label.form-group County
            |                             
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-bookmark
              |                                 
              select#county.form-control.selectpicker(name='county' onchange='countyFunction()' placeholder='Enter Product Title' style='height: 35px;' required='')
                option Select Your County
          |                         
          .col-lg-4
            label.form-group Area
            |                             
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-screenshot
              |                                 
              select#area.form-control(name='area' placeholder='Enter Product Title' style='height: 35px;' required='')
        br
        br
        |                     
        .row
          .col-lg-12
            label.form-group Contact Info
            |                             
            .input-group
              textarea.form-control(name='product_desc' cols='5' row='3' placeholder='Product description write here..' required='' style='height:100px')
        br
        center
          #plans.clearfix
            #border-left.plan
              .name Basic AD
              .price &euro;0
              .div
                input(type='radio' name='package')
                |  All Basic Things

            .plan
              .name Top Category AD
              .price
              .form-check
              .div
                .row
                  p Free Stuff
                  input(type='radio' name='package')
                  |  5 days for &euro;2.99
              .div
                .row
                  p General Stuff
                  input(type='radio' name='package')
                  |  5 days for &euro;2.99
              .div
                .row
                  p Jobs
                  input(type='radio' name='package')
                  |  5 days for &euro;2.99
              .div
                .row
                  p Cars
                  input(type='radio' name='package')
                  |  5 days for &euro;2.99
              .div
                .row
                  p Services
                  input(type='radio' name='package')
                  |  5 days for &euro;2.99
              .div
                .row
                  p Real Estate
                  input(type='radio' name='package')
                  |  5 days for &euro;2.99

            .plan
              .name Home Page AD
              .price
              .div
                input(type='radio' name='package')
                |  5 days for &euro;3
              .div
                input(type='radio' name='package')
                |  10 days for &euro;5

        center
          button#button.btn.btn-success.mybtn(type='submit' name='submit' value='Submit')
            | Submit 
            span.glyphicon.glyphicon-send
        br
        br
include scripts