include header2
main.ps-main(style='margin-top: 2%;')
  .container
    .row
      // code start
      .twPc-div.col-lg-12
        a.twPc-bg.twPc-block
        |                     
        div
          .twPc-button
            a.btn.btn-success.btn-lg(href='#' type='button') Edit
          |                         
          a.twPc-avatarLink(title='Profile' href='#')
            .mycontaier
              img.twPc-avatarImg(alt='Profile Picture' src='images/profilepictures/dp1.jpg')
              .middle
                button.btn.btn-success.btn-lg.text(type='button' data-toggle='modal' data-target='#ppModal' data-whatever='@mdo') Edit
          |                         
          .twPc-divUser
            .twPc-divName
              a(href='#') Haseeb Bhatti
            |                             
            span
              a(href='#' style='color:green')
                | @
                span haseebbhatti742
          |                         
          .twPc-divStats.col-lg-12
            ul.twPc-Arrange
              li.twPc-ArrangeSizeFit.col-lg-4
                a(href='mailto:')
                  span.twPc-StatLabel.twPc-block Email
                  |                                         
                  span.twPc-StatValue haseebbhatti742@gmail.com
              |                                 
              li.twPc-ArrangeSizeFit.col-lg-3
                a(href='#')
                  span.twPc-StatLabel.twPc-block Adds Posted
                  |                                         
                  span.twPc-StatValue 12
              |                                 
              li.twPc-ArrangeSizeFit.col-lg-3
                a(href='#')
                  span.twPc-StatLabel.twPc-block Password
                  |                                         
                  a.btn.btn-success.btn-lg.mybtn(href='#' type='button' data-toggle='modal' data-target='#exampleModal' data-whatever='@mdo') Change
      // code end
      // modal for change password
      #exampleModal.modal.fade(tabindex='1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content(style='padding:5%')
            .modal-header
            h5#exampleModalLabel.modal-title New message
            form(method='POST')
              .form-group
                label.col-form-label(for='recipient-name') New Password
                |                                 
                input#new-password.form-control(type='password' required='')
              |                             
              p#error-msg(style='color:red')
              |                             
              .form-group
                label.col-form-label(for='message-text') Confirm New Password
                |                                 
                input#confirm-new-password.form-control(type='password' onkeyup='check()' required='')
              |                             
              .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                |                                 
                button.btn.btn-primary(type='submit' formaction='/changepass') Submit
      // modal for change profile picture
      #ppModal.modal.fade(tabindex='1' role='dialog' aria-labelledby='ppModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content(style='padding:5%')
            .modal-header
            h5#ppModalLabel.modal-title New Picture
            form(method='POST' enctype='multipart/form-data' )
              .form-group
                label.col-form-label(for='recipient-name') Choose New Picture (JPG only)
                |                                 
                input#newpp.form-control(type='file' name='productimage' accept='.jpg,image/*' required='')
              |                             
              .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                |                                 
                button.btn.btn-primary(type='submit' formaction='/changepp') Submit
      <h2> #{ppError} </h2>
include scripts
