include header1
main.ps-main
  #logreg-forms
    form.form-signup(method='POST')
      .social-login
        a.btn.btn-lg.facebook-btn.social-btn(href='/auth/facebook')
          span
            i.fab.fa-facebook-f
            |  Sign up with Facebook
      |           
      .social-login
        a.btn.btn-lg.google-btn.social-btn()
          span
            i.fab.fa-google-plus-g
            |  Sign up with Google+
      |         
      |           
      p(style='text-align:center') OR
      |           
      input.form-control(type='text' name='fullname' placeholder='Full name' required='' autofocus='')
      |           
      input.form-control(type='text' name='username' placeholder='Username' required='' autofocus='')
      p(style='color:red') #{usernameError}
      |           
      input.form-control(type='email' name='email' placeholder='Email address' required='' autofocus='')
      |           
      input#pass.form-control(type='password' name='pass' placeholder='Password' required='' autofocus='')
      p#error-msg(style='color:red;')
      |           
      input#repeatpass.form-control(type='password' name='repeatpass' placeholder='Repeat Password' onkeyup='check2()' required='' autofocus='')
      |     
      |           
      button.btn.btn-lg.btn-primary.btn-block(formaction='/signup-form/signup' type='submit')
        i.fas.fa-user-plus
        |  Sign Up
      |           
      a#cancel_signup(href='/login-form')
        i.fas.fa-angle-left
        |  Login
    |         
    br
  |       
include footer
include scripts