include header1
main.ps-main
    .container(style='margin-top:50px;')
        h1  Terms and Conditions 
        br
        br
        |     
        p
            | Goldmine.ie does not take any responsibility of any item being sold on our website, its up to the buyer and seller to make all the arrangements. We advice buyers should ask all the necessory questions before making any purchase..
        |     
        h1  GDPR 
        br
        br
        |     
        p
            | Goldmine.ie does not and would not share any of your information with the third party such as marketing companies etc. When publishing an Ad it&apos;s up to the users weather they want to show their mobile numbers to the public or not. if the user thinks the mistake has been made then simply click on EDIT AD button and rectifie the mistakes.
            | Goldmine.ie ask you to verify your phone number , it is a necessory once off step to make sure that user is based in IRELAND, we belive this step will prevent the fraudulent activities on our website and it will keep our users safe. If any user does not feel comfortable verifying the phone number then simply not to register on Goldmine.ie
    br
    br
include footer